<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>busyness</title>
</head>
<body>
<main>
  <article>
        <h1>Reservations</h1>
        <hr>
        <br>
        <div>
            <form name="filter">
                <label for="dateFrom">Date from:
                    <input type="date" id="dateFrom" name="dateFrom" th:value="${filter.dateFrom}">
                </label>
                <label for="dateTill">To:
                    <input type="date" id="dateTill" name="dateTill" th:value="${filter.dateTill}">
                </label>
                <br>
                <label for="timeFrom">Time from:
                    <input type="time" id="timeFrom" name="timeFrom" th:value="${filter.timeFrom}">
                </label>
                <label for="dateTill">To:
                    <input type="time" id="timeTill" name="timeTill" th:value="${filter.timeTill}">
                </label>
                <br>
                <button>Filter</button>
            </form>
        </div>
        <div th:each="busyness : ${busynesses}">
            <a th:href="'/busyness/' + ${busyness.getId()}" th:text=
                    "${busyness.getEmployeeName()} + ' '
                    + ${busyness.getBusyFrom().toString().replace('T', ' ')} + ' '
                    + ${busyness.getBusyTill().toString().replace('T', ' ')} + ' '
                    + ${busyness.getOfficeName()}"></a>
        </div>
  </article>
</main>
</body>
</html>